body {
    padding: 0;
    margin: 0;
    background-color: #1E1E1E;
    font-family: "Archivo", helvetica, sans-serif;
}
p {
    color: #ACA9A1;
    font-family: helvetica, sans-serif;
}

.texthl {
    color: #E2B29B
}

h1 {
    color: #ECE4CC;
    font-weight: 100;
    font-size: 1.7rem;
    line-height: 42px;
}
h2 {
    color: #aca9a1;
    line-height: 48px;
    font-weight: 500;
}
small {
    color: #1b1a1a;
}
h3 {
    color: #998D7B;
    line-height: 42px;
    font-weight: 100;
    font-size: 1.7rem;
}
h5 {
    color: #ACA9A1
;
    line-height: 32px;
    font-weight: 100;
    font-size: 1.25rem;
}
h6 {
    color: rgb(190, 187, 178);
    line-height: 32px;
    font-weight: 300;
    font-size: 1.20rem;
    font-family: helvetica, sans-serif;
}
hr {
    display: block;
    margin-top: 0.1em;
    margin-bottom: 2.0em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    color: #555;
  }
a:link {
    color: #E2B29B;
    text-decoration: underline;
  }
a:visited {
    color: #E2B29B;
    text-decoration: underline;
  }
a:hover {
    color: #ECE4CC;
    text-decoration: underline;
  }
a:active {
    color: #ECE4CC;
  }
