body {
    padding: 0;
    margin: 0;
    background-color: #1E1E1E;
    font-family: "Archivo", helvetica, sans-serif;
}
p {
    color: #CDFFF8;
    font-family: helvetica, sans-serif;
}
h1 {
    color: #ECE4CC;
    font-weight: 500;
    text-align: center;
    font-size: 2.5rem;
}
small {
    color: #888888;
}
h3 {
    color: #FFEDBA;
    line-height: 40px;
    font-weight: 300;
}
h5 {
    color: #858585;
    line-height: 32px;
    font-weight: 100;
    font-size: 1.25rem;
}
h6 {
    color: #858585;
    line-height: 32px;
    font-weight: 100;
    font-size: 1.25rem;
}
hr {
    display: block;
    margin-top: 0.1em;
    margin-bottom: 2.0em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    color: #555;
  }
a:link {
    color: #ECE4CC;
  }
a:visited {
    color: #CDFFF8;
  }
a:hover {
    color: #ffffff;
    text-decoration: underline;
  }
a:active {
    color: #ffffff;
  }
nav.navbar {
    height: 72px;
}
.navbar-nav > li {
    padding-left:10px;
    padding-right:10px;
  }
.nav-item {
    font-size: 1.15rem;
}
.wrap {
  padding-left:10px;
  padding-right:10px;
}